<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/loginForm.css" type="text/css">

</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form action="/register" method="post" id="register-form">
    <a href="/"><h3>Sign in</h3></a>
    <a href="/register" style="margin-left: 9rem;"><h3> Sign Up </h3> </a>

    <label for="username">Username</label>
    <input type="text" placeholder="Enter your user name" id="username" name="username" >

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password" name="username">

    <label for="confirmpassword">Confirm Password</label>
    <input type="password" placeholder=" Confirm Password" id="confirmpassword", name="confirmpassword">
    <div class="error-register"> </div>
    <button id="btn-register" name="btn-register" type="submit" >Register</button>
</form>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="/js/register.js"></script>
<script src="js/registermodel.js"></script>
</html>